# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# DFX
.dfx/
.env

# Rust
.cargo/
target/

# NPM
node_modules/

# Other build files
declarations/
dist/
tmp/
pkg/
