name: release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

env:
  SCCACHE_GHA_ENABLED: 'true'
  RUSTC_WRAPPER: 'sccache'

jobs:
  release:
    name: release
    runs-on: ubuntu-latest
    environment: release
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Acquire short-lived crates.io token
        uses: rust-lang/crates-io-auth-action@v1
        id: auth

      - name: Setup Python
        uses: dfinity/ci-tools/actions/setup-python@main

      - name: Setup Commitizen
        uses: dfinity/ci-tools/actions/setup-commitizen@main

      - name: Setup PNPM
        uses: dfinity/ci-tools/actions/setup-pnpm@main

      - name: Setup DFX
        uses: dfinity/setup-dfx@main

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.9

        # Triggers installation of the Rust toolchain
        # Must be done before wasm-pack is installed
      - name: Cargo metadata
        run: cargo metadata --format-version 1

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Generate canister declarations
        run: dfx generate

      - name: Build NPM packages
        run: pnpm build

      - name: Generate release notes
        uses: dfinity/ci-tools/actions/generate-release-notes@main

      - name: Release ic-representation-independent-hash Cargo crate
        run: cargo publish -p ic-representation-independent-hash
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Release ic-certification Cargo crate
        run: cargo publish -p ic-certification
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      # `ic-certification-testing` cannot be published since it relies on unpublished crates
      # from the `ic` repository. Namely:
      # - ic-types
      # - ic-crypto-tree-hash
      # - ic-crypto-internal-threshold-sig-bls12381
      # - ic-crypto-internal-seed
      # - ic-crypto-internal-types
      #
      # - name: Release ic-certification-testing Cargo crate
      #   run: cargo publish -p ic-certification-testing --token ${CRATES_TOKEN}
      #   env:
      #     CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}

      - name: Release ic-http-certification Cargo crate
        run: cargo publish -p ic-http-certification
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Pack @dfinity/certification-testing NPM package
        working-directory: packages/ic-certification-testing-wasm
        run: npm pack --pack-destination ../../

      - name: Release @dfinity/certification-testing NPM package
        working-directory: packages/ic-certification-testing-wasm
        run: npm publish --access public
        env:
          NPM_CONFIG_PROVENANCE: 'true'

      - name: Release ic-cbor Cargo crate
        run: cargo publish -p ic-cbor
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Release ic-certificate-verification Cargo crate
        run: cargo publish -p ic-certificate-verification
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Pack @dfinity/certificate-verification NPM package
        working-directory: packages/certificate-verification-js
        run: npm pack --pack-destination ../../

      - name: Release @dfinity/certificate-verification NPM package
        working-directory: packages/certificate-verification-js
        run: npm publish --access public
        env:
          NPM_CONFIG_PROVENANCE: 'true'

      - name: Release ic-response-verification Cargo crate
        run: cargo publish -p ic-response-verification
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Pack @dfinity/response-verification NPM package
        working-directory: packages/ic-response-verification-wasm
        run: npm pack --pack-destination ../../

      - name: Release @dfinity/response-verification NPM package
        working-directory: packages/ic-response-verification-wasm
        run: npm publish --access public
        env:
          NPM_CONFIG_PROVENANCE: 'true'

      - name: Release ic-asset-certification Cargo crate
        run: cargo publish -p ic-asset-certification
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}

      - name: Create Github release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: >
            target/package/ic-certification-${{ github.ref_name }}.crate,
            target/package/ic-http-certification-${{ github.ref_name }}.crate,
            target/package/ic-representation-independent-hash-${{ github.ref_name }}.crate,
            target/package/ic-cbor-${{ github.ref_name }}.crate,
            target/package/ic-certificate-verification-${{ github.ref_name }}.crate,
            target/package/ic-response-verification-${{ github.ref_name }}.crate,
            dfinity-certification-testing-${{ github.ref_name }}.tgz,
            dfinity-certificate-verification-${{ github.ref_name }}.tgz,
            dfinity-response-verification-${{ github.ref_name }}.tgz
          bodyFile: 'RELEASE_NOTES.md'
          tag: '${{ github.ref_name }}'
          commit: 'main'
